<div class="movie-grid-wrapper">
  <div *ngIf="router.url !== '/'" fxLayoutAlign="center center">
    <h2> Most Popular</h2>
  </div>

  <div fxFlexFill>
    <div *ngIf="router.url === '/'">
      <app-search-bar [movies_data]="completePopularMoviesList" [searchbarWidth]="100" (onSelectedOption)="onSelectedFilter($event)"
        (onSearchInput)="onSearchInput($event)"></app-search-bar>
    </div>
    <div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px grid" style="cursor: pointer;"
      infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()"
      [infiniteScrollContainer]="'.mat-drawer-content'" [fromRoot]="true">

      <app-movie-card [id]="movie.id" [title]="movie.title" [overview]="movie.overview" [poster_path]="movie.poster_path"
        *ngFor="let movie of filteredPopularMoviesList">
      </app-movie-card>
    </div>
  </div>
</div>
